<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8d0c15f7-c210-4389-b580-ae6238fa90e6/resourcegroups/TEIAC153201_group/providers/Microsoft.Web/sites/TeiaC15320120240322220753</ResourceId>
    <ResourceGroup>TEIAC153201_group</ResourceGroup>
    <ApiResourceId>/subscriptions/8d0c15f7-c210-4389-b580-ae6238fa90e6/resourceGroups/TEIAC153201_group/providers/Microsoft.ApiManagement/service/TeiaC153201api/apis/TeiaC153201</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://teiac15320120240322220753.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>e1c83279-d7e7-48ec-9575-df374c3c6f1d</ProjectGuid>
    <MSDeployServiceURL>teiac15320120240322220753.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TeiaC15320120240322220753</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$TeiaC15320120240322220753</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>